
#cart table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

#cart table img{
	width: 70%;
}

#cart table thead{
	border: 1px solid #f3eee6;
	border-right: none;
	border-left: none;
}

