
body {
margin: 0;
line-height: normal;
}



.frame-child {
  	position: absolute;
  	top: 870px;
  	left: -1px;
  	background-color: #f3eee6;
  	width: 1440px;
  	height: 3262px;
}
.fivelanes-069-540x-1-icon {
  	position: absolute;
  	top: 1247px;
  	left: 44px;
  	width: 540px;
  	height: 810px;
  	object-fit: cover;
}
.f128897-d5b6-4632-9008-c68d6da-icon {
  	position: absolute;
  	top: 3145px;
  	left: -1px;
  	width: 1442px;
  	height: 762px;
  	object-fit: cover;
}
.five-lanes-leather-jackets {
  	margin: 0;
}
.blank-line1 {
  	font-weight: 300;
}
.blank-line {
  	margin: 0;
  	font-family: 'Zilla Slab';
}
.edgy-eclectic-and {
  	margin: 0;
  	font-size: 36px;
  	font-weight: 300;
  	font-family: 'Work Sans';
}
.five-lanes-leather-container {
  	position: absolute;
  	top: 921px;
  	left: 85px;
  	display: inline-block;
  	width: 1251px;
  	height: 326px;
}
.men1 {
  	font-size: 48px;
  	font-family: 'Playfair Display SC';
}
.blank-line3 {
  	font-size: 24px;
  	font-weight: 300;
  	font-family: 'Zilla Slab';
}
.the-five-lanes {
  	font-size: 32px;
  	font-weight: 300;
  	font-family: 'Work Sans';
}
.blank-line6 {
  	text-decoration: underline;
  	font-weight: 300;
}
.blank-line5 {
  	color: inherit;
}
.men-the-five-container {
  	position: absolute;
  	top: 1400px;
  	left: 682px;
  	text-align: left;
  	display: inline-block;
  	width: 706px;
  	height: 287px;
  	font-size: 24px;
  	font-family: 'Zilla Slab';
}
.blank-line9 {
  	font-family: 'Playfair Display';
}
.blank-line8 {
  	font-size: 32px;
}
.bold-colours-and {
  	font-weight: 300;
  	font-family: 'Work Sans';
}
.blank-line12 {
  	text-decoration: underline;
}
.blank-line13 {
  	margin: 0;
  	font-size: 24px;
}
.women-bold-colours-container {
  	position: absolute;
  	top: 2379px;
  	left: 119px;
  	text-align: left;
  	display: inline-block;
  	width: 706px;
  	height: 287px;
  	font-size: 20px;
}
.fivelanes-267-540x-1-icon {
  	position: absolute;
  	top: 2163px;
  	left: 831px;
  	width: 540px;
  	height: 810px;
  	object-fit: cover;
}
.frame-item {
  	position: absolute;
  	top: 2739px;
  	left: 414px;
  	width: 260px;
  	height: 79px;
}
.explore-women {
  	position: absolute;
  	top: 2756px;
  	left: 428px;
  	font-size: 32px;
  	display: inline-block;
  	color: #fff;
  	width: 238px;
  	height: 79px;
}
.featured-collection1 {
  	white-space: pre-wrap;
}
.span {
  	font-size: 96px;
}
.featured-collection {
  	position: absolute;
  	top: 3063px;
  	left: 192px;
  	display: inline-block;
  	font-family: 'Playfair Display SC';
  	width: 1096px;
  	height: 194px;
}
.frame-inner {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #683f24;
  	width: 1440px;
  	height: 225px;
}
.five-lanes {
  	position: absolute;
  	top: 113px;
  	left: 462px;
  	display: inline-block;
  	width: 739px;
  	height: 75px;
}
.rectangle-group {
  	position: absolute;
  	top: 3907px;
  	left: -1px;
  	background-color: #fff;
  	width: 1440px;
  	height: 225px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 48px;
  	color: #fff;
  	font-family: 'Rubik Lines';
}
.rectangle-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #683f24;
  	width: 259px;
  	height: 79px;
}
.explore-men1 {
  	margin: 0;
  	font-size: 32px;
}
.explore-men {
  	position: absolute;
  	top: -11px;
  	left: 11px;
  	display: inline-block;
  	width: 238px;
  	height: 79px;
  	cursor: pointer;
}
.rectangle-container {
  	position: absolute;
  	top: 1724px;
  	left: 733px;
  	background-color: #fff;
  	width: 259px;
  	height: 79px;
  	overflow: hidden;
  	font-size: 20px;
  	color: #fff;
  	font-family: 'Playfair Display SC';
}
.image-1-icon {
  	position: absolute;
  	top: -33px;
  	left: 1px;
  	width: 1438.5px;
  	height: 959px;
  	object-fit: cover;
}
.rectangle-parent {
  	position: absolute;
  	top: 99px;
  	left: 1px;
  	background-color: #fff;
  	width: 1443px;
  	height: 925px;
  	overflow-y: auto;
}
.frame-child1 {
  	position: absolute;
  	top: -0.5px;
  	left: -0.5px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	background-color: rgba(78, 59, 49, 0.75);
  	border: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1441px;
  	height: 100px;
}
.frame-icon {
  	position: absolute;
  	top: 27px;
  	left: 32px;
  	width: 54px;
  	height: 46px;
  	overflow: hidden;
}
.frame-icon1 {
  	position: absolute;
  	top: 35px;
  	left: 1346px;
  	width: 43px;
  	height: 38px;
  	overflow: hidden;
}
.frame-icon2 {
  	position: absolute;
  	top: 39px;
  	left: 1274px;
  	width: 35px;
  	height: 34px;
  	overflow: hidden;
}
.s {
  	letter-spacing: 0.01em;
}
.five-lanes-container {
  	position: absolute;
  	top: 16px;
  	left: 536px;
  	display: inline-block;
  	width: 521px;
  	height: 99px;
}
.frame-div {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #683f24;
  	border: 1px solid #d6c6b8;
  	box-sizing: border-box;
  	width: 1439px;
  	height: 99px;
  	overflow: hidden;
  	text-align: left;
  	color: #fefefe;
  	font-family: 'Rubik Lines';
}
.desktop-homepage {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1024px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 64px;
  	color: #1e1e1e;
  	font-family: 'Playfair Display';
}

