#pro-details{
	display: flex;
	margin-top: 20px;
}


#pro-details .pro-image{
	width: 40%;
	margin-right: 50px;
}

.small-img-grp{
	display: flex;
	justify-content: space-between;
}

.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

#pro-details .pro-dtls{
	width: 50%;
	padding-top: 30px;
}

#pro-details .pro-dtls h3{
	font-size: 26px;

}

#pro-details .pro-dtls select{
	padding: 5px 10px ;
	display: block;
	margin-bottom: 10px;
}

#pro-details .pro-dtls input{
	width: 50px;
	height: 47px;
	padding-left: 10px;
	font-size: 16px;
	margin-right: 10px;
}

#pro-details .pro-dtls span{
	font-size: large;
	line-height: 25px;
}