

#product .pro-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 10px;
	gap: 20px;
}

#product .pro{
	 flex: 0 0 calc(25% - 20px); /* Makes 4 per row with spacing */
    box-sizing: border-box;
	min-width: 20px;
	padding: 10px 12px;
	border: 1px solid #c7b392;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
	transition: 0.2s ease;
}

#product .pro :hover{box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.01);}

#product .pro img{
	width: 100%;
	border-radius: 20px;
}

#product .pro .des{
	display: flex;
	text-align: center;
	padding: 10px ;
	 text-decoration: none;
}

.des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
}

.product-name, .product-price {
  margin: 0;
}

.pro a{
	text-decoration:none ;
}